.flexContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    margin: 60px auto;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        
        
    }
   
    .textContainer{
        flex: 1;
        margin: 0 auto;
             
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }

  }

  .imageContainer {
    position: relative;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clippedImage {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    position: relative;
    z-index: 1;
   
  }
  .clippedImageReverse {
    border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%;
    position: relative;
    z-index: 1;
   
  }
