
.page{
    margin: 2rem auto;
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

  
    @media only screen and (max-width: 600px) {
        width: 95%;
    }

    h1{
        margin-top: 2rem;
    }
    img{
        width: 100%;
        height: auto;
        max-width: 70rem;
        border-radius: 8px;
        margin: 16px 0 ;
    }

   

    
}
.coverImg {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    div>img{
        max-width: 600px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        @media only screen and (max-width: 600px) {
            height: 200px;
         }
   } 
   

}
.pageContent{
    margin: 2rem auto;
    max-width: 960px;
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    flex: 1 1;

  
    @media only screen and (max-width: 600px) {
        width: 95%;
    }

    h1{
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 30px;
        @media only screen and (max-width: 600px) {
          font-size: 24px;
          line-height: 26px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 34px;
        @media only screen and (max-width: 600px) {
          font-size: 18px;
          line-height: 22px;
        }
    }
    h3{
        font-size: 24px;
        line-height: 28px;
        @media only screen and (max-width: 600px) {
          font-size: 18px;
            line-height: 22px;
        }
    }

    ul>li{
        font-size: 14px;
        line-height: 22px;
    
    }

    h2{margin: 10px 0;}
    p{
        font-size: 14px; /* Decreased by 2px */
        line-height: 24px; /* Decreased by 2px */
        font-weight: 400;
        margin-bottom: 20px;
        color: #000;
        @media only screen and (max-width: 600px) {
            font-size: 14px; /* Decreased by 2px */
            line-height: 24px; /* Decreased by 2px */
        }

        
    }
    margin-bottom: 20px;


    ol{
        
       
        margin-bottom: 20px;
        li{
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #000;
            @media only screen and (max-width: 600px) {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 18px;
            
                
        }
        &::marker {
            
            border-radius: 99px;
            border: 1px solid #000;
          }
    }

         /* Add custom marker */
    
    }

    .videoContainer{
        iframe{
            margin-bottom: 40px;

            @media only screen and (max-width: 600px) {
              
                margin-bottom: 20px;
                height: 200px;
            
                
        }
        }
    }

    p
    .spotifyBtn{
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
        background-color: #bfab9b;
        padding: 15px 40px;
        color: #000;
        border-radius: 99px;

    }
    .has-text-align-center {
        text-align: center;
    }
    /* ul {
        list-style: none; 
        padding: 10px 32px;
        margin: 0;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            padding: 10px 10px; 
            
        }
   

    li {
        position: relative;
        padding-left: 32px; 
        margin-bottom: 25px; 
        line-height: 24px;
    
        /* &::before {
          content: url('/images/heart.svg');
          color: #bfab9b!important;
          position: absolute;
          width: 25px; 
          height: 25px; 
          left: 0;
          top: 0;
          font-size: 25px; 
          line-height: 1; 
        } 
      }
    } */


    
}
    


.moreSection{
    display: flex;
    gap: 40px;
    margin-bottom: 32px;
   
 
    @media only screen and (max-width: 600px) {
              
       flex-direction: column;     
}

}
