.module{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 16px;
    @media only screen and (max-width: 600px) {
       flex-direction: column;
      }

      padding-bottom: 30px;
    border-bottom: 1px solid #bfab9b;
    margin-bottom: 50px;
}

.title{
       
  margin-bottom: 20px;
}